<!-- <form id="form", method="GET"> 
    <input type="search" id="query" name="q" placeholder="Search...">
    <button>Search</button>
</form> -->

<form action="{% url 'search_view' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
     <!-- this renders with id = id_name  -->
    <input type="submit">
    <script>
    $( function() {
        var tags =[ 
        {% for tag in tags %} 
        "{{tag}}", 
        {% endfor %} 
        ];

        var users =[
        {% for user in users%}
        "{{user}}",
        {% endfor %}
        ];

        net = tags.concat(users);

        $( "#id_search" ).autocomplete({
            source: net,
            minLength: 1,
        });
} );
</script>
    </form>
</form>