{% if post.title is None %}
<a href="{% url 'detail_post' post.id %}">
    Untitled Post
</a>
{% else %}
<a href="{% url 'detail_post' post.id %}">
    {{post.title}}
</a>
{% endif%}


<a href="{%url 'answer_post' post_id=post.id%}" style = 'color:rgb(235, 67, 196); margin:2px'>(Answer)</a>
{% if request.user.is_authenticated %}
{% if post.owner_user_id == request.user.id %}
<a href="{%url 'edit_post' post_id=post.id%}" style = 'color:rgb(219, 195, 10); margin:2px'>(Edit)</a>
{% endif %}
{% endif %}

