{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="d-flex align-items-center justify-content-center">
    <h1> Welcome to your profile page: {{username}} </h1>
</div>
<hr style = "height:2px;border-width:0;color:black ;background-color: black; margin-left:65px;margin-right:65px">
<div class="d-flex align-items-center justify-content-center">
    <h2>Your posts:</h2>
</div>
<div class="d-flex align-items-center justify-content-center">
    <ul>
        {% for post in posts %}
        <li>{% include 'snippets/post_snippet.html' %} </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}