{% extends 'base.html' %}

{% block content %}

<!-- <div class="mx-auto col-10 col-md-8 col-lg-6 my-auto">
<form action="{% url 'create_post' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
    <script>
        $( function() {
            var tags =[ 
            {% for tag in tags %} 
            "{{tag}}", 
            {% endfor %} 
            ];
            $( "#id_tags" ).autocomplete({
                source: tags,
                minLength: 1,
            });
    } );
    </script>
    </form>
</div> -->
<br><br>
<div class="d-flex align-items-center justify-content-center"> 
    <h1>Create new post</h1>
</div>
<hr style = "height:2px;border-width:0;color:black ;background-color: black; margin-left:65px;margin-right:65px">
<div  class="d-flex align-items-center justify-content-center" style="margin: 20px;">
    <form action="{% url 'create_post' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
        <script>
            $( function() {
                var tags =[ 
                {% for tag in tags %} 
                "{{tag}}", 
                {% endfor %} 
                ];
                $( "#id_tags" ).autocomplete({
                    source: tags,
                    minLength: 1,
                });
        } );
        </script>
        </form>
</div>
{% endblock %}
