{% extends 'base.html' %}

{% block content %}

<form action="{% url 'create_post' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
    <script>
        $( function() {
            var tags =[ 
            {% for tag in tags %} 
            "{{tag}}", 
            {% endfor %} 
            ];
            $( "#id_tags" ).autocomplete({
                source: tags,
                minLength: 1,
            });
    } );
    </script>
    </form>
{% endblock %}
